*.o
*.a
*.out
*.asc

bin/

src/anal/cruncher
src/anal/deverbal
src/anal/findbase
src/anal/pname
src/gener/checkstype
src/gener/do_conj
src/gener/gener
src/gkdict/combitype
src/gkdict/conj1
src/gkdict/fixgend
src/gkdict/fixhesc
src/gkdict/indexcomps
src/gkdict/indexnoms
src/gkdict/indexvbs
src/gkdict/latnom
src/gkdict/latvb
src/gkdict/newlems
src/gkdict/newlems2
src/gkdict/setquant
src/gkdict/splitlat
src/gkdict/splitlems
src/gkends/buildderiv
src/gkends/buildend
src/gkends/buildword
src/gkends/indderivtables
src/gkends/indendtables

stemlib/Greek/conjfile
stemlib/Greek/derivs/indices/derivind
stemlib/Greek/endtables/indices/nendind
stemlib/Greek/endtables/indices/vbendind
stemlib/Greek/steminds/entitylist.txt
stemlib/Greek/steminds/nomind
stemlib/Greek/steminds/nomind.lindex
stemlib/Greek/steminds/vbind
stemlib/Greek/steminds/vbind.lindex
stemlib/Greek/stemsrc/flatlems
stemlib/Greek/stemsrc/goodstem
stemlib/Greek/stemsrc/headnolen
stemlib/Greek/stemsrc/stripref
stemlib/Greek/stemsrc/zapfirstf
