*.o
*.a
*.out
*.asc

bin/

src/anal/cruncher
src/anal/deverbal
src/anal/findbase
src/anal/pname
src/gener/checkstype
src/gener/do_conj
src/gener/gener
src/gkdict/combitype
src/gkdict/conj1
src/gkdict/fixgend
src/gkdict/fixhesc
src/gkdict/indexcomps
src/gkdict/indexnoms
src/gkdict/indexvbs
src/gkdict/latnom
src/gkdict/latvb
src/gkdict/newlems
src/gkdict/newlems2
src/gkdict/setquant
src/gkdict/splitlat
src/gkdict/splitlems
src/gkends/buildderiv
src/gkends/buildend
src/gkends/buildword
src/gkends/indderivtables
src/gkends/indendtables

stemlib/Greek/conjfile
stemlib/Greek/derivs/indices/
stemlib/Greek/endtables/indices/
stemlib/Greek/steminds/
stemlib/Greek/stemsrc/flatlems
stemlib/Greek/stemsrc/goodstem
stemlib/Greek/stemsrc/headnolen
stemlib/Greek/stemsrc/stripref
stemlib/Greek/stemsrc/zapfirstf

stemlib/Latin/conjfile
stemlib/Latin/derivs/indices/
stemlib/Latin/endtables/indices/nendind
stemlib/Latin/endtables/indices/vbendind
stemlib/Latin/oddfile
stemlib/Latin/steminds/
